:root {
  --main-color: #01a09a;
}

i.bi {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff !important;
}

.text-success {
  color: var(--main-color) !important;
}

.border-success {
  border-color: var(--main-color) !important;
}

.btn-success {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.offcanvas-start {
  width: 250px;
}

.loader {
  width: 100%;
  margin-top: 40vh;
  text-align: center;
}

.gallary-item-link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.gallary-item-link.active {
  transform: scale(1);
}
