i.bi {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.text-success {
  color: #01a09a !important;
}

.offcanvas-start {
  width: 250px;
}

.loader {
  width: 100%;
  margin-top: 40vh;
  text-align: center;
}
